<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @chat.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @chat.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @chat.body %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @chat.created_by %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
